<!-- START NAVIGATION -->
<div class="navbar navbar-default bs-dos-nav navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#rock-navigation">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">{{ site.title }}</a>
        </div>
        <nav class="collapse navbar-collapse" id="rock-navigation">
            <ul class="nav navbar-nav navbar-right main-navigation text-uppercase">
                <li><a href="#work" class="smoothScroll">My Work</a></li>
                <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
                <li><a href="#resume" class="smoothScroll">Resume</a></li>
                <li><a href="#about" class="smoothScroll">About</a></li>
                <li><a href="#contact" class="smoothScroll">Contact</a></li>
            </ul>
        </nav>

    </div>
</div>
<!-- END NAVIGATION -->

<header>
    <h1 class="animated bounceInDown">Animate.css</h1>
    <h2 class="animated bounceInDown">Level Up Your Websites with Animate.css</h2>
    <span class="animated bounce"></span>
</header>