<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body data-spy="scroll" data-target="#rock-navigation">
    {% include header.html %}

    <h2 id="work" class="new-section">Scroll Animations</h2>
    <div class="scroll-animations">
        <div class="animated">
            <span>☎</span>
            <h3>Number One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lacinia est. Nulla malesuada massa orci,
                vitae placerat lorem pharetra a.</p>
        </div>
        <div class="animated">
            <span>♫</span>
            <h3>Number Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lacinia est. Nulla malesuada massa orci,
                vitae placerat lorem pharetra a.</p>
        </div>
        <div class="animated">
            <span>☂</span>
            <h3>Number Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lacinia est. Nulla malesuada massa orci,
                vitae placerat lorem pharetra a.</p>
        </div>
    </div>

    <h2 id="work" class="new-section">Scroll Animations</h2>
    <div class="scroll-animations">
        <div class="animated">
            <span>☎</span>
            <h3>Number One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lacinia est. Nulla malesuada massa orci,
                vitae placerat lorem pharetra a.</p>
        </div>
        <div class="animated">
            <span>♫</span>
            <h3>Number Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lacinia est. Nulla malesuada massa orci,
                vitae placerat lorem pharetra a.</p>
        </div>
        <div class="animated">
            <span>☂</span>
            <h3>Number Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lacinia est. Nulla malesuada massa orci,
                vitae placerat lorem pharetra a.</p>
        </div>
    </div>

    {% include scripts.html %}
</body>

</html>